<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      body{
       background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)) , url('https://media.istockphoto.com/id/1287121465/photo/background-blue-navy-black-abstract-glittering-pattern-noise-dark-stained-frosted-glasstexture.jpg?b=1&s=170667a&w=0&k=20&c=--Xm--FghZWqLf-J228043T-fib0F2dK2TGOVUcWxZg='); 
      
     }
     .card-body{
       color:white;
       background: linear-gradient(to left, rgb(27, 90, 153) 50%, #00203FFF 50%);
       background-size: 200%;
       background-position: right;
       transition: all .5s;
     }
     .card-body:hover{
       background-position: left;
     }
     .card-header{
       color: #ffff;
       background-color: #2b4162;
 background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
     }
     .my-btn{
       background-color: green;
       opacity: 0.6;
       cursor: not-allowed;
     }
     h1, h2, h3, h4 ,h5,h6{
       font-weight: bold;
     }
  </style>
  <title>Viewing one course</title>
</head>

<body>
  <%- include('partials/navbar') %>
  <div class="container justify-content-between mt-4 my-4" style="color:white">
    <h1 style="font-weight: 550;">
        <%= course.courseName %>
      </h1>
      <div class="container">
        <p>
          <%= course.courseDescription %>
        </p>
      </div>
      <h3>Course Contents</h3>
    </div>
    <% for(let content of course.courseContent){ %>
      <div class="container card-container">
        <div class="card mb-5">
          <h5 class="card-header bg-dark text-light">
            <%= content.creatorName%>
          </h5>
          <div class="card-body">
            <p class="card-text">Content Description: <%= content.courseContentDescription %>
            </p>
            <br>
            <div class="card-footer text-muted  d-flex justify-content-between">
            <div class="card-functionality-left">
              <a href=<%=`/courses/view/${course._id}/${content._id}` %> class="btn btn-info mx-3">View Details</a></i>
            </div>
            <% if(username === content.creatorName){ %>
              <div class="card-functionality-right">
                <a href="#" data-id = "<%= content._id %>" class="btn btn-modal btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"><i data-id = "<%= content._id %>" class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" data-id = "<%= content._id %>" class="btn btn-danger mx-3 delete-course" ><i class="fa-solid fa-trash" data-id = "<%= content._id %>"></i></a>
              </div>
            <% }else {%>
              <div class="card-functionality-right">
                <a href="#" data-id = "<%= content._id %>" class="btn btn-modal btn-secondary" style="cursor:not-allowed;pointer-events: none;" data-bs-toggle="modal" data-bs-target="#editModal"><i data-id = "<%= content._id %>" class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" data-id = "<%= content._id %>" class="btn btn-secondary mx-3 delete-course" style="cursor:not-allowed;pointer-events: none;"><i class="fa-solid fa-trash" data-id = "<%= content._id %>"></i></a>
              </div>
            <% } %>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <button type="button" class="btn btn-success btn-insert-modal" data-bs-toggle="modal"
          data-bs-target="#insertModal"
          style="height: 3em; width: 3em;margin-right:1em;margin-left: auto;margin-bottom: 0.5em; position:sticky;bottom:0.5em">
          <i class="fa-solid fa-plus btn-insert-modal"></i>
        </button>
        <%- include('partials/footer') %>

          <!-- Modal -->
          <form action="/courses/add/<%= course._id%>" method="post">
            <!-- Modal to create product -->
            <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-5">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="insertModalLabel">
                      Add new content for <%= course.courseName %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="mb-3">
                    <label for="creatorname-in" class="form-label">Creator Name</label>
                    <input type="text" class="form-control" id="creatorname-in" 
                    value="<%= username %>"
                    name="creatorName" required
                      placeholder="Creator Name" 
                      readonly/>
                  </div>
                  <div class="mb-3">
                    <label for="coursedescription-in" class="form-label">Content Description</label>
                    <textarea class="form-control" id="coursedescription-in" value="" name="courseContentDescription"
                      required placeholder="Course Descrition of few lines" rows="3">
              </textarea>

                  </div>
                  <div class="mb-3">
                    <label for="videolink-in" class="form-label">Video Link</label>
                    <input type="text" class="form-control" id="videolink-in" value="" name="videoLink" required
                      placeholder="Video Link" />
                  </div>
                  <div class="mb-3">
                    <label for="documentlink-in" class="form-label">Document Link</label>
                    <input type="text" class="form-control" id="documentlink-in" value="" name="documentLink" required
                      placeholder="Document Link" />
                  </div>
                  <button type="submit" class="btn btn-primary insert-submit-btn">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>

          <!-- Modal to edit course content-->
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-5">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editModalLabel">Edit Course content</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="mb-3">
                  <label for="creatorName" class="form-label">Creator Name</label>
                  <input type="text" 
                  class="form-control" id="creatorName" value="<%= username %>" name="creatorName" required
                    placeholder="Course Name"
                    readonly />
                </div>
                <div class="mb-3">
                  <label for="coursecontentDescrition" class="form-label">Course Content Description</label>
                  <textarea class="form-control" id="coursecontentDescription" value="" name="coursecontentDescription" required
                    placeholder="Course Descrition of few lines" rows="3">
            </textarea>
                </div>
                <div class="mb-3">
                  <label for="videoLink" class="form-label">Video Link</label>
                  <input type="text" class="form-control" id="videoLink" value="" name="videoLink" required
                    placeholder="Course Name" />
                </div>
                <div class="mb-3">
                  <label for="documentLink" class="form-label">Document Link</label>
                  <input type="text" class="form-control" id="documentLink" value="" name="documentLink" required
                    placeholder="Course Name" />
                </div>
                <button class="btn btn-primary submit-btn">Submit</button>
              </div>
            </div>
          </div>
</body>
  <script>
    var data = <%- JSON.stringify(course) %>
    console.log(data);
    var courseContent = data.courseContent;
    console.log(courseContent);


    //Functionality to delte the course content
    document.querySelectorAll('.delete-course').forEach((coursecontent)=>{
      coursecontent.addEventListener('click', (e)=>{
       const id = e.target.dataset.id;
       if(confirm(`Are you sure you want to delete this course content ${id}?`))
        {
          fetch(`/courses/delete/${e.target.dataset.id}`, {
            method: 'DELETE'
          }).then((res)=>{
            return res.json();
          }).then((data)=>{
            console.log(data);
            if(confirm(`Course content ${id} deleted successfully`))
            window.location.reload();
          })
        }
      })
    })

    //Functionality to edit the course

      var response = {};
      console.log(document.querySelectorAll('.btn-modal'))
      document.querySelectorAll('.btn-modal').forEach((row)=>row.addEventListener('click', (e)=>{
      console.log(e.target)
      let obj = undefined;
      courseContent.forEach((coursecontent)=> {
        if(coursecontent._id === e.target.dataset.id)
        {
          console.log(e.target.dataset.id)
          obj = coursecontent;
          return;
        }
      })
      response = obj;
      console.log(obj)
      console.log(response)
      document.querySelector('#creatorName').value = obj.creatorName
      document.querySelector("#coursecontentDescription").value = obj.courseContentDescription;
      document.querySelector("#videoLink").value = obj.videoLink;
      document.querySelector("#documentLink").value = obj.documentLink;
      }))
      document.querySelector('.submit-btn').addEventListener('click', ()=> {
      response.creatorName = document.querySelector('#creatorName').value;
      response.courseContentDescription = document.querySelector('#coursecontentDescription').value;
      response.videoLink = document.querySelector('#videoLink').value;
      response.documentLink = document.querySelector('#documentLink').value;
      if(response.courseName!=='' &&  response.courseDescription !=='' && response.videoLink !=='' &&  response.documentLink !== '')
      {
        fetch(`/courses/update/${response._id}`, {
        method: 'PATCH',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(response)
        })
          if(!(alert(`Course content with creator ${response.creatorName} updated successfully`)))
          {
            location.reload()
          }
        }
        else {
          alert('All fields must be non empty')
        }
      })
  </script>
</html>